<launch>

<!-- moveit config-->

  <!-- startup ros_control for real robot -->
     <arg name="usb_port" default="/dev/arm" />
    <include file="$(find open_manipulator_controller)/launch/open_manipulator_controller.launch">
      <arg name="usb_port" value="$(arg usb_port)"/>
      <arg name="baud_rate" value="1000000"/>
    </include>



 <!-- joint_trajectory_controller moveit -->

<rosparam file="$(find open_manipulator_controllers)/config/joint_trajectory_controller.yaml" command="load"/>

  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm_controller"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn gripper_controller"/>


  <!-- startup move_group related -->
  <include file="$(find open_manipulator_moveit_config)/launch/move_group.launch"/>

    <include file="$(find open_manipulator_description)/launch/open_manipulator_rviz.launch" />

</launch>
